body {
  background-color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}


.block1 {
  background-color: #17a44b;
  color: white;
  text-align: center;
  border: 2px solid black;
  width: 120px;
  height: 50px;
  line-height: 50px;
  position: relative ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.block2 {
  background-color: #3b83c4;
  color: white;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 150px;
  display: none;
  position: relative;
  left: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.block3 {
  background-color: #52396f;
  color: white;
  border: 2px solid black;
  width: 200px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block1:hover .block2 {
  display: flex;
}

.block2:hover .block3 {
  display: flex;
}

.block2, .block3 {
  transition: opacity 0.4s ease;
}
